body{
     font-family: sans-serif;
     width: 800px;
     margin: 0 auto;
     padding: 10px;
}


label{
    display: block;
    font-size: 20px;
}

input[type=text]{
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

input[type=submit]{
    font-size: 24px;
}

textarea{
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

hr{
    margin: 20px auto;
}

h1 {
    display: block;
    text-align: center;
    color: blue;
}

.error {
    color: red;
}

.post + .post{
    margin-top: 20px;
}

.post-title{
    font-weight: bold;
    font-size: 17px;
}

.post-body {
    margin: 0;
    font-size: 15px;
}

.post-date {
    font-size: 10px;
    font-style: oblique;
    color: gray;
    text-align: right;
    display: flex;
}