<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Prompt|Roboto|Indie+Flower|Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="/css/blog.css">

        {% if user_profile or chart %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        {% endif %}
    </head>
    <body>
        <!-- menu -->
        <ul class="nav">
            {% if user.user_name %}
                <li><a href="/post/new">New Post</a> | </li>
                <li><a href="/">Home </a>|</li>
                {% if user.user_type == "admin" %}
                    <li><a href="/adminpanel">Admin Panel</a> | </li>
                {% endif %}
                <li><a href="/user/{{ user.user_name }}">{{ user.user_name }}</a> <a href="/logout" style="color: red;"> (Logout)</a></li>
            {% else %}
                <li><a href="/">Home </a>|</li>
                <li><a href="/login">Login </a>|</li>
                <li><a href="/signup"> Sigup</a></li>
            {% endif %}
        </ul>
        <br>
        <!-- /menu -->

        <!-- headband -->
        <div id="headband">
            <img src="/img/miku-headband.jpg" alt="headband">
        </div>
        <!-- /headband -->

        {% block content %}

        {% if title == "Home" %}

            {% if topten_comm_posts %}
            <div id="ranking">
                <div id="comm-posts">
                    <h1 class="indie-font">Posts most commented:</h1>
                    <table class="ranking-posts">
                        <tbody>
                            <tr>
                                <th class="title"> Title (Topic)</th>
                                <th class="text-center"> Owner </th>
                                <th class="text-center"> Comments  </th>
                            </tr>
                            {% for p in topten_comm_posts %}
                            <tr>
                                <td> <a href="/post{{ p[0] }}">{{ p[0].replace("_", " ")[1:] }}</a><small> (in <a href="/search/?topics={{ p[2].topic }}">{{ p[2].topic }}</a>)</small></td>
                                <td class="text-center"> <a href="/user/{{ p[2].user }}">{{ p[2].user }} </a></td>
                                <td class="text-center">{{ p[2].comments }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if topten_view_posts %}
                <div id="view-posts">
                    <h1 class="indie-font">Hot posts:</h1>
                    <table class="ranking-posts">
                        <tbody>
                            <tr>
                                <th class="title"> Title (Topic)</th>
                                <th class="text-center"> Owner </th>
                                <th class="text-center"> Views </th>
                            </tr>
                            {% for p in topten_view_posts %}
                            <tr>
                                <td> <a href="/post{{ p[0] }}">{{ p[0].replace("_", " ")[1:] }}</a><small> (in <a href="/search/?topics={{ p[2].topic }}">{{ p[2].topic }}</a>)</small></td>
                                <td class="text-center"> <a href="/user/{{ p[2].user }}">{{ p[2].user }} </a></td>
                                <td class="text-center"> {{ p[2].views }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% endif %}

                </div> <!-- /ranking -->

            {% else %}
                <div id="no-post">
                    <h3 class="center">No post alredy. Be the first in make one! Click <a href="/posts/new">here!</a></h3>
                </div>
            {% endif %}

        {% else %}
        <hr>
        <div class="post round">
            <div class="post-header">
                <div class="post-data">
                    {% if user.user_type == "admin" %}
                        {% if post.state %}
                            <h3> {{ post.title.replace("_", " ")[1:] }} &nbsp; <span class="disable"> ( <a href="/disable/{{ post.key().id() }}"> Disable </a> ) </span></h3>
                        {% else %}
                            <h3> {{ post.title.replace("_", " ")[1:] }} &nbsp; <span class="disable"> ( <a href="/disable/{{ post.key().id() }}"> Enable </a> ) </span></h3>
                        {% endif %}
                    {% else %}
                        <h3>{{ post.title.replace("_", " ")[1:] }}</h3>
                    {% endif %}


                    <small>Submited by <a href="/user/{{ post.user }}" class="user_name">{{ post.user }} </a> in <a href="/search/?topics={{ post.topic }}" class="topic">{{ post.topic }}</a> ({{ post.modified }} min/hours ago)</small>
                </div>
                <div class="post-score">
                    <p>{{ post.views }} Views | {{ post.comments }} Comments</p>
                </div>
            </div>
            <div class="post-content">
                <p>{{ post.content }}</p>
            </div>
            <hr>
            <h3>Comments:</h3>
            <div class="post-comments">
                {% if user %}
                    {% if comments %}
                        {% for key, c in comments.items() %}
                            <div class="user-comments">
                                <h4><a href="/user/{{ c.user_name }}">{{ c.user_name }}</a>: ({{ c.created }}) </h4>
                                    <textarea class="comment">{{ c.post_comment }}</textarea>
                            </div>
                        {% endfor %}

                    {% endif %}

                    <div class="user-comments">
                        <form class="comment" method="post">
                            <h4>{{ user.user_name }}:</h4>
                            <textarea class="tarea-comments" name="comment" class="tarea-comments" placeholder="Add a comment"></textarea>
                            <button class="round" type="submit">create</button>
                            <p class="error">{{ commentError | safe }}</p>
                        </form>
                    </div>

                {% else %}
                    <div class="user-comments">
                        <h2>You must <a href="/login">login</a> to leave a comment.</h2>
                    </div>
                {% endif %}

            </div>

        </div>

        {% endif %}

    {% endblock %}

        <hr>
        <div class="footer">
            <p>[ Made with love in Python + AJAX + HTML & CCS ]</p>
        </div>

    </body>
</html>