
{% extends 'login.html'%}

{% block content %}


<div class="login-page">
    <div class="form">
        <form class="register-form" method="post">
          <input type="text" name="username" value="{{user}}" placeholder="name"/>
          <small class="error">{{userError}}</small>
          <input type="password" name="password" value="" placeholder="password"/>
          <small class="error">{{passError}}</small>
          <input type="password" name="verify" value="" placeholder="verifypassword"/>
          <small class="error">{{verifyError}}</small>
          <input type="text" name="email" value="{{ email }}" placeholder="email address"/>
          <small class="error">{{mailError}}</small>
          <button type="submit">create</button>
          <p class="message">Already registered? <a href="/login">Login</a></p>
          <input type="hidden" name="next_url" value="{{next_url}}">
        </form>
    </div>
</div>

{% endblock %}

    <!-- <h2>Signup</h2>
    <form method="post">
        <table>
            <tbody>
                <tr>
                    <td class="label">Username</td>
                    <td><input type="text" name="username" value="{{user}}"></td>
                    <td class="error">{{userError}}</td>
                </tr>
                <tr>
                    <td class="label">Password</td>
                    <td><input type="password" name="password" value=""></td>
                    <td class="error">{{passError}}</td>
                </tr>
                    <tr><td class="label">Verify Password</td>
                    <td><input type="password" name="verify" value=""></td>
                    <td class="error">{{verifyError}}</td>
                </tr>
                <tr>
                    <td class="label">Email (optional)</td>
                    <td><input type="text" name="email" value="{{ email }}"></td>
                    <td class="error">{{mailError}}</td>
                    <input type="hidden" name="next_url" value="{{next_url}}">
                </tr>
            </tbody>
        </table>

      <input type="submit">
    </form>
  </body>
</html> -->